<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/auth.css" />
    
  </head>
  <body>
    <%- include('../partials/header-nav.ejs') %>

    <main>
      <% if (errorMessage) { %>
        <div class="user-message user-message__error"><%= errorMessage %></div>
      <% } %>

      <form class="login-form" action="/login" method="POST">

            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
                value="<%= oldInput.email %>"
                type="email" 
                name="email" 
                id="email">
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input 
                class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
                value="<%= oldInput.password %>"
                type="password" 
                name="password" 
                id="password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit">Login</button>

           
              <a href="/reset" class="reset-link">Reset Password</a>
       

      </form>
    </main>
  <%- include('../partials/end.ejs') %>