<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/auth.css" />
    
  </head>
  <body>
    <%- include('../partials/header-nav.ejs') %>

    <main>
      <% if (errorMessage) { %>
        <div class="user-message user-message__error"><%= errorMessage %></div>
      <% } %>

      <form class="login-form" action="/new-password" method="POST">

            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />

            <button class="btn" type="submit">Update Password</button>

      </form>
    </main>
  <%- include('../partials/end.ejs') %>