<%- include('../partials/head.ejs') %>
    
  </head>

  <body>
   <%- include('../partials/header-nav.ejs') %>
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div >
        <img src="<%= product.imageUrl %>"  alt="<%= product.title %>" width="50%">
        </div>
        <h2>$<%= product.price %></h2>
        <p><%= product.description %></p>
        <%- include('../partials/add-to-cart.ejs') %>
    </main>
 <%- include('../partials/end.ejs') %>